/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

.cursor-pointer {
  cursor: pointer;
}

.card {
  height: 100%;
}

.card-body {
  display: flex;
  flex-flow: column;
}


@media (max-width: 576px) {
  .card-img-top {
    height: auto !important;
  }
}
